* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}


/*----------index page----------*/

.index-page{
    background: #bbd0fd;
}

.index-page .content{

    min-height: 500px;
    border: 1px solid #7b3131;
    border-radius: 5px;
}
.index-page h1{
    font-size: 22px;
}

.index-page .button{
    background: #ff0001;
    height: 30px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    border-radius: 12px;
    cursor:pointer;
    -webkit-box-shadow: 16px 13px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 16px 13px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 16px 13px 8px 0px rgba(34, 60, 80, 0.2);
}
.index-page .button:hover{
    background: #a63031;
}
.index-page .button:active{
    -webkit-box-shadow: 16px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 16px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 16px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.index-page a{
    text-decoration: none;
}
.content .bg-img {
    /*background-image: url('../img/bg.png');*/
    background-repeat: no-repeat;
    position: absolute;
    height: 500px;
    width: 300px;
}
.text{
    z-index: 10;
    position: relative;
}


.index-page h3{
    font-size: 20px;
}
/*-----------Demo Page -------*/

/*-----header-------*/
.main-title {
    font-size: 22px;
}

.header {
    padding: 30px;
    border-bottom: 1px solid #cccccc;
}

/*------content---------*/
.content {
    padding: 20px;
}

.generator-preview__title {
    padding: 30px;

}

.generator-preview__image {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    height: 200px;


}
.generator-preview__image img{
    width: 150px;
    height: auto;
}

.generator-preview__image a:hover {
    opacity: 0.3;
}

/*--- footer----*/
footer {
    border-top: 1px solid #cccccc;
}

.footer {
    margin-top: 30px;
    padding-top: 20px;
}

.copyright {
    padding-top: 10px;
    text-align: right;
}

.github {
    width: 100px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 30px;
}

.github a {
    align-items: center;
    display: inherit;
}

.github img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

/*-----gallery------*/


.gallery {
    /*//display: none;*/
    position: absolute;
    top: 10%;
/ / right: - 33 %;
}

.show {
    display: block;
}


.close {
    cursor: pointer;
    position: relative;
    right: 19px;
    top: 20px;
    z-index: 10;

}


#gallery {

    margin: 30px auto;
}

#thumbs {
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    z-index: 100;

}

#thumbs img, #largeImage {
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    cursor: pointer;
}

#thumbs img{

    margin-right: 10px;
    max-height: 150px;
}

#description {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    margin: 5px;
}

#panel {
    position: relative;
    height: 350px;

}
#panel img{
    height: 100%;
}

/*-----download file------*/

.add-img{
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 30px;


}
.add-img span{
    display: block;
}
.alert{
    color: #ff0000;
}

.add-img input{
    display: block;
    cursor: pointer;
    margin:10px;

}


